.task-container{
  height: 85px;
  font-size: 48px;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  background: #e3e3e3;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  justify-content: space-between;

  transition: all .1s ease;
}


/* IF CHECKED */
.task-container.checked{
  background: #d7d7d7;
}
.task-container.checked .task-text{
  text-decoration: line-through;
  font-style: italic;
}
.task-container.checked .task-checkbox .checkbox-img{
  position: absolute;
  width: 90px;
  height: 90px;

  top: -27px;
  left: -25px;

  background-image: url(../../assets/checkmark.png);
  background-size: cover;
  background-position: center;
}

.task-container.edit-mode{
  border: 3px solid rgba(253, 99, 99, 0.1);
  border-style: dashed;
  background: #e8e0e0;
}
.task-checkbox{
  cursor: pointer;
}

.task-text{
  color: #2c2c2c;
  font-size: 22px;
  font-weight: 500;
  padding: 0 17px;
  height: 100%;
  max-width: 90%;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  display: flex;
  align-items: center;
  user-select: none;
}
.task-text-input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 20px;
  background: #ececec;
  font-size: 21px;
}

:root{
  --opt-btn-size: 48px;
  --opt-btn-blue: #017bcd;
  --opt-btn-red: #d10023;
}

.task-opt-btn{
  height: var(--opt-btn-size);
  width: var(--opt-btn-size);
  padding: 10px 17px;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: currentColor;

  transition: all .25s ease;
  &:hover{
    filter: brightness(120%);
    box-shadow: 0 0 2px currentColor;
    scale: 1.03;
  }
  &:active{
    filter: brightness(95%);
    scale: .9;
  }
}
.task-opt-btn.save{
  color: var(--opt-btn-blue);
}
.task-opt-btn.delete{
  color: var(--opt-btn-red);
}
.task-opt-btn svg{
  scale: 2.6;
}


.task-checkbox{
  width: 40px;
  height: 40px;
  border: 5px solid #cacaca;
  border-radius: 7px;
  position: relative;
  margin-right: 10px;
  overflow: visible;
  transition: scale .3s ease;
  &:active{
    scale: 1.12;
  }
}
